.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding:1rem 2rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 4;
}
.logo{
    object-fit: cover;
    height: 6rem;
    width: 6rem;
}
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom:0.5rem ;
    border-bottom: 3px solid yellow;
}
.desktopMenuBtn{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
.active{
    color: yellow;
}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding:0.5rem ;
    height: fit-content;
    min-width: 15rem;
    background: rgb(50, 50, 50 );
    border-radius: 1rem;
}
.burgermenu{
    display: none;
    object-fit: cover;
    height: 1.5rem;
    width: 1.9rem;
}

@media screen and (max-width:700px){
    .burgermenu{
        display: block;
    }
    .desktopMenuListItem, .desktopMenuBtn{
        display: none;
    }
    .logo{
        right: -1rem;
    }
    .navbar{
        height: 3rem;
    }
}